In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
v1, v2, v3 = numbers[:3]

In [5]:
print(v1)

1

In [6]:
type(v1)

int

In [7]:
v1, v2, v3

(1, 2, 3)

In [8]:
numbers[:3][:2]

[1, 2]

In [9]:
v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12, v13, v14 = (*numbers, 11, 12, 13, 14)

In [10]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
v1

1

In [12]:
[v1, v2, v3]

[1, 2, 3]

In [13]:
v1, v2, v3

(1, 2, 3)

In [15]:
v9, numbers

(9, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [20]:
dict_values = {'apple': '사과', 'banana': '바나나'}

In [21]:
for key in dict_values:
    print(key)

apple
banana

In [24]:
for value in dict_values.values():
    print(value)

사과
바나나

In [25]:
for key,value in dict_values.items():
    print(key, value)

apple 사과
banana 바나나

In [27]:
class Account:
    def __init__(self, name, money):
        self.name = name
        self.money = money

input = input("What's your name?", )
account = Account(input, 10000)

What's your name?yunki

In [28]:
yunki.Account

NameError: name 'yunki' is not defined

In [ ]:
class Contact:
    def __init__(self, name, school, major, phone_number):
        self.name = name
        self.school = school
        self.major = major
        self.phone_number = phone_number
    
    def print_info(self):
        print("Name: ", self.name)
        print("School: ", self.school)
        print("Major: ", self.major)
        print("Phone_number: ", self.phone_number)

In [ ]:
홍길동 =Contact(홍길동, 대학교, 전공, 전화번호부)

In [ ]:
홍길동.school

In [9]:
신윤기.school

'서울대학교'

In [7]:
Contact(self.name)

NameError: name 'self' is not defined

In [ ]:
class Contact:
    def __init__(self, name, school, major, phone_number):
        self.name = name
        self.school = school
        self.major = major
        self.phone_number = phone_number
    
    def print_info(self):
        print("Name: ", self.name)
        print("School: ", self.school)
        print("Major: ", self.major)
        print("Phone_number: ", self.phone_number)

In [13]:
class Contact:
    def __init__(self, name, school, major, phone_number):
        self.name = name
        self.school = school
        self.major = major
        self.phone_number = phone_number
    
    def print_info(self,input("What is your name: ")):
        input("What is your name: ") == self.name:
            print("Name: ", self.name)
            print("School: ", self.school)
            print("Major: ", self.major)
            print("Phone_number: ", self.phone_number)

SyntaxError: invalid syntax (<ipython-input-13-81543cda760c>, line 8)

In [3]:
홍길동 = Contact('홍길동', '대학교', '전공', '번호')

In [4]:
홍길동.name

'홍길동'

In [10]:
Contact.print_info(홍길동)

Name:  홍길동
School:  대학교
Major:  전공
Phone_number:  번호

In [11]:
신윤기 = Contact('신윤기', '서울대학교', '경제학부', '01034204554')

In [12]:
Contact.print_info(신윤기)

Name:  신윤기
School:  서울대학교
Major:  경제학부
Phone_number:  01034204554

In [1]:
for j in range(4):
        for i in range(5):
                print('*', end='')
        print("")

*****
*****
*****
*****

In [2]:
for i in range(4):
    for j in range(5):
        print('*', end='')
    print(' ')

for j in range(5):
    for i in range(j+1):
        print('*', end='')
    print(' ')

for j in range(5):
    for i in range(5-j):
        print('*', end='')
    print(' ')

for j in range(5):
    for i in range(4-j):
        print(' ', end='')
    for i in range(j+1):
        print('*', end='')
    print(' ')


for j in range(5):
    for i in range(j):
        print(' ', end='')
    for i in range(5-j):
        print('*',end='')
    print(' ')

for j in range(5):
    for i in range(4-j):
        print(' ', end='')
    for i in range(2*(j+1)-1):
        print('*', end='')
    print(' ')

for j in range(5):
    for i in range(j):
        print(' ', end='')
    for i in range(2*(5-j)-1):
        print('*', end='')
    print(' ')

*****
*****
*****
*****
*
**
***
****
*****
*****
****
***
**
*
    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *
    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [3]:
list_1 = [2, 4, 7, 9]
list_2 = [8, 6, 4, 2]
K = int(input())
for x in list_1:
    for y in list_2:
        if x + y == K:
            print(x, y)
        else : 
            pass

10
2 8
4 6

In [14]:
list_1 = [2, 4, 7, 9]
list_2 = [8, 6, 4, 2]
K = int(input())
for x in list_1:
    for y in list_2:
        if x + y == K:
            print(x, y)
        else : 
            pass

11
7 4
9 2

In [15]:
for j in range(5):
    for i in range(4-j):
        print(' ', end='')
    for i in range(2*(j+1)-1):
        print('*', end='')
    print(' ')

for j in range(5):
    for i in range(j):
        print(' ', end='')
    for i in range(2*(5-j)-1):
        print('*', end='')
    print(' ')

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [16]:
for j in range(5):
    for i in range(5-j):
        print('*', end='')
    print(' ')

for j in range(5):
    for i in range(4-j):
        print(' ', end='')
    for i in range(j+1):
        print('*', end='')
    print(' ')


for j in range(5):
    for i in range(j):
        print(' ', end='')
    for i in range(5-j):
        print('*',end='')
    print(' ')

*****
****
***
**
*
    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *

In [27]:
def printTriangle(num):
    for i in range(num+1):
        print('*' * i)

x = int(input())
printTriangle(x)

5

*
**
***
****
*****

In [28]:
def print_triangle_2(num):
    for i in range(num+1):
        print(' '*i)
        print('*'*num+1-i )

x = int(input())
print_triangle_2(x)

10

TypeError: must be str, not int

In [39]:
def print_triangle_1(num):
    for i in range(num+1):
        print('*' * i)

x = int(input())
print_triangle_1(x)

3

*
**
***

In [49]:
def print_triangle_2(num):
    for i in range(num+1):
        print(' '*i, end=" ")
        print('*'*(num-i))

x = int(input())
print_triangle_2(x)

5
 *****
  ****
   ***
    **
     *

In [51]:
list(range(1))

[0]

In [57]:
for i in range(1):
    print(i)

0

In [61]:
def print_triangle_2(num):
    for i in range(num+1):
        print(' '*i, end=" ")
        print('*'*(num-i))

x = int(input())
print_triangle_2(x)

3
 ***
  **
   *